
.flex{
    max-width: 900px;
    height: 300px;
    padding: 5px;
    border: 2px solid #000;
    display: flex;
    list-style: none;
    /*justify-content: space-evenly;*/
    align-content: center;
    /*flex-wrap: wrap;*/
    flex-flow: wrap;
}

.item{
    background-color: rgb(67, 28, 241);
    height: 50%;
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 5px;
    align-items: stretch;
}

.row {
    flex-direction: column;
}